body {
	margin: 1em;
}

.container {
	position: relative;
}

.abs {
	position: absolute;	
}

.right {
	right: 0;
}

.top {
	top: 0;
}

/* Fixes issue with Documentation generation and the <code> blocks having extra margin space */
.container.docs code {
	display: block;
	margin-top: -1.5em;
}